body {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    margin: 0 auto;
}

header {
    background: #bbbbbb;
    padding: 0 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 10px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #d9e257;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 50px 0;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid #000000;
    margin-top: 30px;
    border-radius: 10px;
   
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2{
    font-size: 34px;

}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
    padding: 30px 20px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 10px 0;
    margin-top: 0px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 10px;
}

main {
    width: 100%auto;
    margin: 0 auto;
}

form {
    margin: 40px 0;
    }

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px ;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px ;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;

}

.enviar:hover {
    background: darkorange;
    cursor: pointer;
    transform: scale(1.2);

}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: black solid 1px;
    padding: 8px 15px;
}

/*css da página inicial*/
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left; 
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens::before {
    content: "★";
}

.itens {
    line-height: 1.5;
}

.imagem-beneficios {
    width: 60%;
    opacity: 50%;
    transition: 1s;
    box-shadow: 10px 10px 10px #000000;
}

.imagem-beneficios:hover {
    opacity: 90%;  
    
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    
}

.video {
    width: 500px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    } 

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }

    

}